/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.container{
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding: 3%;
}

.logo img{
	width: 300px;
	@include tablet {
		width: 500px;
	}
	@include desktop{
		margin-bottom: 60px;
			width: 700px;
			margin-left: 150px;
			// margin-left: auto;
			// margin-right: auto;
		
	}
}

//*********FOOTER*******

.site-info{
	display: flex;
	margin-top: 50px;
	flex-direction: column;
		@include tablet{
			flex-direction: row;
			p{
				padding-left:10px;
			}
		}
		@include desktop {
			justify-content: flex-end;
		}
	p{
		margin:0;
		margin-bottom: 20px;
	}
	ul{
		display: flex;
		margin-bottom: 20px;

	}
	li{
		border-right: 1px solid white;
		padding-right: 0.5rem;
		padding-left:0.5rem;
	}
	li:last-child{
		border-right:none;
		@include tablet{
			border-right: 1px solid white;
		}
	}
}


//main

.quote-icon{
	display: none;
	@include desktop{
		display: inline;
	}
}

#new-quote-button{
	border:2px solid #0c0;
	background-color: $color__background-body;
	box-shadow: none;
	text-shadow: none;
	color: #0c0;
	height:40px;
	width: 160px;
	padding:0;
	font-size: 1.05rem;
	background: $color__background-body;
	&:hover{
		border:2px solid darken(#0c0, 10%);
		color: darken(#0c0, 10%)
	}
	@include tablet{
		width: 180px;
		height: 50px;
		font-size: 1.2rem;
	}
}
.svg-inline--fa{
	font-size: 150px;
	margin-top: 35px;
  }

.site-main{
	display: flex;
	width:100%;
	.content{
		width:100%;
		@include desktop{
		padding-left: 50px;
		padding-right:50px;
		}
	}
}

ul{
	display: flex;
	flex-wrap: wrap;
	a{
		font-weight: 100;
	}
}

.page-id-113{
	li{
		margin-bottom: 5px;
		margin-right: 10px;
	}
}

.entry-meta{
	display: flex;
	h2, .source{
		margin-top:20px;
		margin-bottom:20px;
		font-weight: 100;
		font-size:1em;
	}
	p{
		padding-top:5px;
	}
	.source{
		font-style: italic;
	}
}

.entry-content p{
	font-size: 18px;
	@include tablet{
		font-size: 24px;
	}
	@include desktop{
		font-size: 2rem;
	}
}

.page-id-107 .entry-content p{
	font-size: 1rem;
}

.quote-submit-wrapper div input,
.quote-submit-wrapper div textarea,{
	background: $color__background-body;
	color: white;
	border: 2px solid #0c0;
}